---
import { getCollection } from "astro:content";
import StrategyLayout from "../layouts/StrategyLayout.astro";
const strategies = await getCollection("strategies");
---

<StrategyLayout title="Welcome to Astro.">
  <div class="prose">
    <h1>Strategidokumenter</h1>

    <ul>
      {
        strategies.map((strategy) => (
          <li>
            <a href={`/strategy/${strategy.slug}`}>
              {strategy.data.title} (v{strategy.data.version})
            </a>
            <time datetime={strategy.data.date.toISOString()}>
              {strategy.data.date.toDateString()}
            </time>
          </li>
        ))
      }
    </ul>
  </div>
</StrategyLayout>
