---
import { getCollection } from "astro:content";
import StrategyLayout from "../layouts/StrategyLayout.astro";
const strategies = await getCollection("strategies", (e) => !e.data.draft);
---

<StrategyLayout title="Strategidokumenter">
  <div class="prose prose-sky">
    <h1>Strategidokumenter</h1>

    <ul>
      {
        strategies
          .sort((a, b) => a.data.order - b.data.order)
          .map((strategy) => (
            <li>
              <h3 class="not-fancy m-0">
                <a href={`/strategy/${strategy.slug}`}>
                  {strategy.data.title} (v{strategy.data.version})
                </a>
              </h3>
              <time datetime={strategy.data.date.toISOString()}>
                {strategy.data.date.toLocaleDateString()}
              </time>
            </li>
          ))
      }
    </ul>
  </div>
</StrategyLayout>
